GITHUB_PERSONAL_ACCESS_TOKEN="YOUR_GITHUB_ACCESS_TOKEN_HERE"
MODEL_NAME="gemini-2.5-flash"
GEMINI_MODEL="gemini-2.5-flash"
GOOGLE_CLOUD_PROJECT="qwiklabs-gcp-00-a4961fe98f0c"
GOOGLE_CLOUD_LOCATION="us-central1"
GOOGLE_GENAI_USE_VERTEXAI="True"
USER_LDAP="dibarra"
